.screen {
    width: 400px;
    height: 800px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: #e06666;
    margin: 150px auto;
    position: relative;
    text-align: center;
}

.screen-search {
    width: 400px;
    height: 800px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: #e06666;
    margin: 150px auto;
    position: relative;
    text-align: center;
}

.screen-about {
    width: 400px;
    height: 800px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: white;
    margin: 150px auto;
    position: relative;
    text-align: center;
}

.UI-base-home{
    width: 400px;
    height: 100px;
    background-color: #ea9999;
    position: relative;
    top: 22.5%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.UI-base-about{
    width: 400px;
    height: 100px;
    background-color: #ea9999;
    position: relative;
    top: 23.5%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.UI-base-search{
    width: 400px;
    height: 100px;
    background-color: #ea9999;
    position: relative;
    top: 34%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.UI-base-map {
    width: 400px;
    height: 100px;
    background-color: #ea9999;
    position: relative;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.icons a {
    text-decoration: none;
    padding:0 30px;
}

.icons i {
    color: white;
    font-size: 40px;
}

.icons .home i{
    margin-left: 20px;
}

.icons .about i{
    margin-right: 20px;
}

.title {
    font-size: 60px;
    color: black;
    font-weight: bold;
    position: relative;
    top: 6%;
}

.description {
    font-size: 28px;
    color: white;
    font-weight: bold;
    position: relative;
    top:6%;
    margin: 0px 15px 0px 15px;
    
}

.description-search {
    font-size: 20px;
    color: white;
    font-weight: bold;
    position: relative;
    top: 10%;
    margin: 0px 15px 0px 15px;
    
}

.description-title-about {
    font-size: 28px;
    color: black;
    font-weight: bold;
    position: relative;
    top: 10%;
    text-align: left;
    margin: 0px 15px 0px 15px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.description-about {
    color: black;
    position: relative;
    top: 10%;
    text-align: left;
    margin: 0px 15px 0px 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#iconapp {
    position: relative;
    top: 14%;
}

.search-button {
    display: inline-block;
    background-color: #F26D99; /* Blue color, you can change it to match your design */
    color: white;
    text-decoration: none;
    padding: 30px 25px;
    border-radius: 5px;
    font-size: 25px;
    transition: background-color 0.3s ease;
    position: relative;
    top: 20%;
}

.search-button:active {
    background-color: #8A3E57;
}

#map {
    width: 400px;
    height: 700px;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: space-around;

}









  